
<p id="demo"></p>
<script>

var xorientation = 10
var yorientation = 10
var zorientation = 80
var borientation = 80
function myFunction(){
  document.getElementById("hiddenX").innerHTML = text;
//document.getElementById('hiddenX').innerHTML = ' ';
}

var text = "";
var i;
for (i = 0; i < 5; i++) {

  function moveXhorizontal(){

requestAnimationFrame(moveXhorizontal);

  //*document.getElementById('hiddenX').style.padding="0px 0px 0px "+xorientation+'px';
    if (xorientation<90) {

      document.getElementById('hiddenX').style.padding="0px 0px 0px "+xorientation+'px';
      xorientation=xorientation+10;

    }  else {
      if (yorientation<90) {


        document.getElementById('hiddenX').style.padding=yorientation+"px 0px 0px 80px ";
        yorientation=yorientation+10;
  //*document.getElementById('hiddenX').style.padding=xorientation+'px';
//*xorientation=xorientation+2;
      }  else {
        if (zorientation<90 && zorientation>10) {
          document.getElementById('hiddenX').style.padding="80px 0px 0px "+zorientation+'px';
          zorientation=zorientation-10;

        }  else {
          if(borientation<90 && borientation>6) {
            document.getElementById('hiddenX').style.padding=borientation+"px 0px 0px 0px";
            borientation=borientation-10;

            }  else {
              xorientation = 4
              yorientation = 8
              zorientation = 75
              borientation = 75



}
}
}
}
}
}
document.getElementById("demo").innerHTML = text;
</script>



<div style="height:100px; width:100px; background-color:red" >
<div id="hiddenX" style="left: 10px" onclick="requestAnimationFrame(moveXhorizontal)">xxx</div>
</div>
